.link-container {
  text-align: right;
}

header {
  background-color: rgb(255, 205, 205);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

aside {
  background-color: rgb(208, 255, 208);
  width: 30%;
  height: 600px;
  padding: 10px 20px;
}

.content-container {
  background-color: rgb(200, 200, 255);
  width: 70%;
  padding: 10px 40px;
}

main {
  margin-top: 100px;
  display: inline-flex;
  width: 100%;
}