body {
  background-color: #D7BEA8;
  color: #442832;
}

.link-container {
  text-align: right;
}

header {
  outline: 2px solid #744253;
  background-color: #B49286;
  width: 100%;
  height: 110px;
}

header > h1 {
  line-height: 60px;
  margin-left: 20px;
}

.header-link {
  margin-right: 20px;
  font-size: 20px;
  line-height: 0;
}

aside {
  background-color: #B49286;
  width: 25%;
  height: 600px;
  padding: 10px 20px;
  margin-right: 20px;
  outline: 2px solid #744253;
}

.aside-content {
  text-align: right;
  font-size: 20px;
}

.content-container {
  width: 75%;
  padding: 10px 40px;
  display: block;
  outline: 2px solid #744253
}

main {
  margin-top: 20px;
  display: inline-flex;
  width: 100%;
}

.link, a {
  text-decoration: none;
  color: #F3D9DC;
}

.link-aside {
  line-height: 40px;
}

a {
  color: #744253
}